$default-animation-duration: 0.3s;

@mixin animate($attribute, $duration: $default-animation-duration) {
  @include transition-property($attribute);
  @include transition-duration($duration);
  @include transition-timing-function(ease-in-out);
}

@mixin animate-text-decoration($hover-color: darken($link-color, 15%), $duration: $default-animation-duration) {
  position: relative;
  text-decoration: none;
  @include animate(color, $duration);

  &:hover {
    color: $hover-color;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $hover-color;
    visibility: hidden;
    transform: scaleX(0);
    @include animate(all, $duration);
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}