@mixin background-image($name, $size: false, $position: center, $repeat: no-repeat) {
  background-image: url(#{$images-dir}/#{$svg-dir}/#{$name}.svg);
  background-position: $position;
  background-repeat: $repeat;
}

@mixin gradient ($direction, $color1, $color2, $color3:false, $color4:false) {

  @if ($direction == horizontal) {
    background: linear-gradient(to right, $color1 0%,$color2 100%);
    .no-cssgradients & {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=1 );
    }
  }

  @if ($direction == vertical) {
    background: linear-gradient(to bottom, $color1 0%,$color2 100%);
    .no-cssgradients & {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=0 );
    }
  }

  @if ($color1 or $color2) {
    //Todo: gradient multiple color stop with ie9 support
  }
}