// Find Opposite Direction
@function opposite-direction($dir) {
  @if $dir == 'left' {
    @return right;
  } @else if $dir == 'right' {
    @return left;
  } @else if $dir == 'ltr' {
    @return rtl;
  } @else if $dir == 'rtl' {
    @return ltr;
  } @else if $dir == 'top' {
    @return bottom;
  } @else if $dir == 'bottom' {
    @return top;
  } @else {
    @warn "#{$dir} is not a direction! Make sure your direction is all lowercase!";
    @return false;
  }
}

// Find Direction Name
@function named-direction($dir) {
  @if $dir == 'ltr' {
    @return left;
  } @else if $dir == 'rtl' {
    @return right;
  } @else {
    @warn "#{$dir} is not a valid HTML direction! Make sure you are using a valid HTML direction";
    @return false;
  }
}

@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

@mixin float($side: left) {
  float: unquote($side);
}

@mixin horizontal-list-item($padding: 4px, $direction: left) {
  @include no-bullet;
  white-space: nowrap;
  @include float($direction);
  @if $padding {
    padding: {
      left: $padding;
      right: $padding;
    }
    &:first-child {
      padding-#{$direction}: 0;
    }
    &:last-child {
      padding-#{opposite-direction($direction)}: 0;
    }
  }
}

@mixin horizontal-list-container {
  @include reset-box-model;
  @include clearfix;
}

@mixin horizontal-list($padding: 4px, $direction: left) {
  @include horizontal-list-container;
  @if $direction == 'center' {
    text-align: center;
    li {
      display: inline;

      @if $padding {
        padding: {
          left: $padding;
          right: $padding;
        }
      }
    }
  } @else {
    li {
      @include horizontal-list-item($padding, $direction);
    }
  }
}



