@media print {

  .hidden-print { display: none !important; }
  a[href]:after { content: ""; }
  #dam-div, .embed-responsive, .browsehappy { display: none !important; }

  @supports (-webkit-appearance:none) {
    body { width: 1200px; }
    div[class|=col-] { float: left; }
    .col-md-6 { width: 40%; }
    .col-md-4 { width: 40%; }
    .col-md-3 { width: 40%; }
  }
}