// Todo: check common changes in bs3

.navbar {
  margin-bottom: 0;

  a {
    @include animate(color);
  }
}

//.navbar {
//  border-radius: 0;
//  border: none;
//  border: 1px solid transparent \9;
//  width: 100%;
//  @include box-shadow(inset 0px -2px 3px 0px rgba(0, 0, 0, 0.165), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.355));
//
//  .navbar-header {
//
//    .navbar-toggle {
//      @include animate(background);
//      margin-right: 0;
//      float: left;
//
//      span {
//        background-color: $white;
//      }
//    }
//
//    .navbar-brand {
//      @include background-image($navbar-logo);
//      width: 158px;
//      height: 50px;
//      margin-left: 0 !important;
//      padding: 0;
//
//      // xs
//      @media (max-width: $screen-xs-max) {
//        background-position: right;
//        float: right;
//      }
//      // >= sm
//      @media (min-width: $screen-sm-min) {
//        background-position: left;
//      }
//    }
//  }
//
//  .navbar-nav {
//    li {
//      a {
//        font-size: 14px;
//        text-transform: uppercase;
//        background-color: inherit;
//        @include animate(all);
//
//        &:hover {
//          color: $white !important;
//          background-color: rgba(0, 0, 0, 0.5);
//          .no-rgba & {
//            background-color: darken($navbar-background-color, 28%);
//          }
//        }
//      }
//
//      &.active a, &.active a:hover {
//        color: $white !important;
//        background-color: rgba(0, 0, 0, 0.5);
//        .no-rgba & {
//          background-color: darken($navbar-background-color, 28%);
//        }
//      }
//
//      @if ($navbar-content-light == true) {
//        a {
//          color: $white;
//        }
//      } @else {
//        a {
//          color: rgba(0, 0, 0, 0.5);
//          .no-rgba & {
//            color: darken($navbar-background-color, 28%);
//          }
//        }
//      }
//    }
//  }
//}