.jumbotron {
  @include gradient(horizontal, #563d7c, #6f5499);
  color: #ffffff;
  text-align: center;

  .btn-outline-inverse {
    color: #ffffff;
    border: 1px solid #cdbfe3;
    @include animate(all);

    &:hover {
      color: #563d7c;
      background-color: #ffffff;
      border-color: white;
    }
  }
}